* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

div {
   border: 1px solid black;
   border-radius: 3px;
   height: 100px;
   margin: 50px auto;
   position: relative;
   width: 300px;
}

div h1, div h2 {   
   margin: 10px 0;
   text-align: center;
   width: 100%;
}
